<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
      #banner{
        height:360px;
        width:100%;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4"> {{company_name}} Careers</h1>
      <img class="img-fluid" id="banner" src="https://jovian-careers-website.artgalaxy.repl.co/static/banner.jpeg"  >
      <h2 class="text-center mt-2 mb-4">About Us</h2>
      <p class="lead">We create games that run on different platforms such as Linux, Windows, Android, IOS and Rasp berry Pi's. Very soon you will have a glimpse of a few and enjoy our games from our company GK.</p>
      <h1 class="text-center mt-2 mb-4">Jovian Careers 2</h1>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}  
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
        <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us
      </button>
        </div>
        <div>
      <p class="text-center mt-4">&copy; 2023 Jovian Careers</p>
    </div>
  </body>
</html>