<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Jovian Careers</h1>
      <img class="img-fluid" id="banner" src="https://jovian-careers-website.artgalaxy.repl.co/static/banner.jpeg"  >
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Elementum facilisis leo vel fringilla est ullamcorper eget. Ultrices neque ornare aenean euismod elementum nisi. Ornare quam viverra orci sagittis eu volutpat. Venenatis cras sed felis eget velit aliquet sagittis. Quam id leo in vitae turpis massa sed elementum. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Integer vitae justo eget magna fermentum. At consectetur lorem donec massa sapien faucibus et. Libero volutpat sed cras ornare arcu dui vivamus arcu. Lectus proin nibh nisl condimentum id venenatis a condimentum. Tempor nec feugiat nisl pretium fusce.
  
  Enim sed faucibus turpis in eu mi. Iaculis urna id volutpat lacus laoreet non. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Porttitor lacus luctus accumsan tortor posuere. Sit amet facilisis magna etiam tempor orci eu. At elementum eu facilisis sed odio morbi. Sit amet massa vitae tortor. Pulvinar sapien et ligula ullamcorper malesuada proin libero. At consectetur lorem donec massa sapien. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Mi eget mauris pharetra et ultrices neque ornare aenean. Diam sollicitudin tempor id eu nisl. Velit dignissim sodales ut eu sem integer vitae. Eu ultrices vitae auctor eu augue ut lectus arcu bibendum.
  
  Lectus nulla at volutpat diam ut venenatis tellus in. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Metus dictum at tempor commodo ullamcorper a lacus. Egestas congue quisque egestas diam. Morbi tincidunt augue interdum velit euismod in pellentesque massa. A arcu cursus vitae congue mauris rhoncus aenean. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. A arcu cursus vitae congue. Aliquam malesuada bibendum arcu vitae. Quis enim lobortis scelerisque fermentum. Tempor commodo ullamcorper a lacus vestibulum. Id faucibus nisl tincidunt eget nullam non nisi. A cras semper auctor neque vitae tempus. Venenatis cras sed felis eget velit. Sit amet tellus cras adipiscing. Suscipit tellus mauris a diam maecenas sed. Mattis aliquam faucibus purus in massa. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. At varius vel pharetra vel turpis nunc eget. Leo duis ut diam quam nulla porttitor massa id.
  
  Blandit aliquam etiam erat velit. Eget dolor morbi non arcu risus quis. Volutpat diam ut venenatis tellus in. Enim sed faucibus turpis in. Amet consectetur adipiscing elit ut aliquam purus sit. In dictum non consectetur a erat nam at lectus. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Urna molestie at elementum eu facilisis sed. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Quisque id diam vel quam elementum. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Sit amet mauris commodo quis imperdiet massa. Ut tellus elementum sagittis vitae et leo. Lacinia at quis risus sed vulputate. Euismod elementum nisi quis eleifend quam. Morbi tempus iaculis urna id volutpat lacus.
  
  Malesuada nunc vel risus commodo viverra maecenas. Mi quis hendrerit dolor magna eget. Erat velit scelerisque in dictum non consectetur a erat nam. Sit amet consectetur adipiscing elit ut aliquam purus sit. Posuere ac ut consequat semper viverra nam. Adipiscing vitae proin sagittis nisl rhoncus. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Dolor morbi non arcu risus. Elit sed vulputate mi sit amet mauris. Lectus quam id leo in vitae turpis massa sed. Accumsan sit amet nulla facilisi morbi tempus iaculis. Diam sollicitudin tempor id eu nisl nunc. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.</p>
      <h1>Jovian Careers 2</h1>
      <h2>Open Positions</h2>
      <p>TODO - Show the jobs here</p>
      <button>Contact Us
      </button>
    </div>
  </body>
</html>